
body {
   
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../images/fireworks-3596_1280.jpg);

}

.countdown-container {
    text-align: center;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2em;
}

#countdown div {
    /* background: black; */
    padding: 20px;
    border-radius: 10px;
    min-width: 100px;
}

#countdown span {
    display: block;
    font-size: 3em;
    margin-bottom: 10px;
}